/* палитра цветов */

:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --main-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --logo-header-color: #000000;
  --filters-btn-color: #f5f4fa;
  --accent-color: #2196f3;
  --accent-order-color: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --filter-border-color: #eeeeee;
  --icons-bg-color: rgba(255, 255, 255, 0.1);
  --icons-color: #afb1b8;
  --activities-overlay-color: rgba(47, 48, 58, 0.8);
  --overflow-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-btn-border: rgba(0, 0, 0, 0.1);
  --form-border-color: rgba(255, 255, 255, 0.3);
  --form-border-shadow: rgba(0, 0, 0, 0.15);
  --form-border-active: rgba(33, 150, 243, 0);
  --form-border-modal: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

/* ----- Утилиты ----- */

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Скрытые заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- Страница "Студия" (главная) ----- */

/* Хедер */

.header-conteiner,
.flex-conteiner,
.site-nav,
.contacts {
  display: flex;
  align-items: center;
}

.logo {
  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
}

.contacts {
  margin-left: auto;
}

.site-nav .item:not(:last-child),
.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.page-header .logo {
  margin-right: 93px;
  align-items: center;
}

.site-nav .link,
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-color,
.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.link.current {
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: var(--accent-color);
}

.site-nav .link {
  color: var(--second-text-color);
}

.contacts .link {
  display: inline-flex;
  align-items: center;

  color: var(--main-text-color);
  fill: var(--main-text-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts .phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.contacts .link:hover,
.contacts .link:focus {
  fill: var(--accent-color);
}

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

/* Герой */

.section.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-img-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: var(--second-bg-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.order,
.submit-btn {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order {
  padding: 10px 32px;
}

.order:hover,
.order:focus,
.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--accent-order-color);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

/* Наши преимущества */

.advantages-section .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: var(--filters-btn-color);
}

.advantages-section .icon {
  width: 70px;
  height: 70px;
}

.advantages-section .section-header {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.advantages-list {
  display: flex;
}

.advantages-list .item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
}

.advantages-list .item:last-child {
  margin-right: 0;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.activities-section {
  padding-top: 0;
}

.activities-section .section-header {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.activities-list {
  display: flex;
}

.activities-list .item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;

  position: relative;
}

.activities-list .item:last-child {
  margin-right: 0;
}

.activities-list .text {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: var(--activities-overlay-color);

  position: absolute;
  bottom: 0;
}

/* Наша команда */

.team-section {
  background-color: var(--third-bg-color);
}

.team-section .section-header {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team-header {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team-list {
  display: flex;
}

.team-list .team-item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;

  border-radius: 0 0 4px 4px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:last-child {
  margin-right: 0;
}

.description-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.description-box .social-list {
  justify-content: center;
}

.description-box .link-icon {
  width: 20px;
  height: 20px;

  fill: inherit;
}

.description-box .link {
  fill: var(--icons-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.description-box .link:hover,
.description-box .link:focus {
  background-color: var(--accent-color);
  fill: var(--third-text-color);
}

/* Постоянные клиенты */

.clients .section-header {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.clients-list {
  display: flex;
}

.clients-list .item {
  width: calc((100% - 5 * 30px) / 6);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover,
.clients-list .link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Футер */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--second-bg-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.adress-box {
  margin-right: 70px;

  /* width: 231px; */
}

.footer-logo-color,
.map-link {
  color: var(--third-text-color);
}

.map-link,
.mail,
.phone {
  display: block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-link:hover,
.map-link:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

.mail,
.phone {
  color: var(--footer-link-color);
}

.page-footer .logo {
  margin-bottom: 20px;
}

.item-map,
.item-mail {
  margin-bottom: 9px;
}

.social-text,
.form .input-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.social-list {
  display: flex;
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--icons-bg-color);
}

.social-links-box {
  margin-right: 93px;
}

.social-links-box .link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-box .link:hover,
.social-links-box .link:focus {
  background-color: var(--accent-color);
}

.social-list .item:not(:last-child) {
  margin-right: 10px;
}

.social-links-box .link-icon {
  width: 20px;
  height: 20px;

  fill: var(--main-bg-color);
}

.page-footer .submit-btn {
  padding: 10px 28px 10px 29px;
}

.page-footer .input-field {
  width: 358px;
  padding: 14px 0px 14px 15px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  background-color: var(--second-bg-color);
  box-shadow: 0px 4px 4px 0px var(--form-border-shadow);
}

.page-footer .input-field,
.page-footer .input-field::placeholder {
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.page-footer .form {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.page-footer .form-box {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  margin-right: 12px;
}

.submit-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 13px;
  right: 28px;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);

  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  /*   min-width: 528px;
  min-height: 581px; */
  width: auto;

  background-color: var(--main-bg-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop .modal-batton {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;

  border: 1px solid var(--modal-btn-border);
  border-radius: 50%;
  background-color: var(--main-bg-color);
}

.modal .form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal .form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal .input-form {
  border: 1px solid var(--form-border-modal);
  border-radius: 4px;
  padding: 10px 0 10px 41px;
}

.modal .input-form:focus,
.comment-field:focus {
  outline: 1px solid var(--accent-color);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field {
  resize: none;
  border: 1px solid var(--form-border-modal);
  border-radius: 4px;
}

.comment-field::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal .submit-btn {
  padding: 10px 55px 10px 56px;
}

.modal .label-form {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 12px;
}

.checkbox-label,
.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-link {
  margin-bottom: 30px;
  color: var(--accent-color);
  text-decoration: underline;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  /* left: 0px; */
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 2px;
  border: 2px solid var(--second-text-color);
  fill: var(--main-bg-color);
  stroke: var(--main-bg-color);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 9px;
  background-size: contain;
}

.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-field {
  padding: 11px 15px;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.username-icon,
.tel-icon,
.email-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 10px;
  left: 11px;
  fill: var(--second-text-color);
  stroke: var(--second-text-color);
}

.input-form:focus + .username-icon,
.input-form:focus + .tel-icon,
.input-form:focus + .email-icon {
  fill: var(--accent-color);
  stroke: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box {
  position: relative;
}

/* ----- Страница "Портфолио" ----- */

/* Фильтр */

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--filters-btn-color);

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list .item {
  margin-right: 8px;
}

.filter-list .item:last-child {
  margin-right: 0;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-list .item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-list .link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list .link:hover,
.examples-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list .item:nth-child(3n) {
  margin-right: 0;
}

.examples-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-list .section-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.examples-list .section-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.text-box {
  padding: 20px 24px;

  border-bottom: 1px solid var(--filter-border-color);
  border-left: 1px solid var(--filter-border-color);
  border-right: 1px solid var(--filter-border-color);
}

.text-box .section-header {
  margin-bottom: 4px;
}

.examples-list .thumb {
  position: relative;
  overflow: hidden;
}

.examples-list .thumb::before {
  content: "";
  position: absolute;
  top: 100%;

  width: 100%;
  height: 100%;

  background-color: var(--overflow-bg-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list .text {
  position: absolute;
  top: 100%;
  left: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list .link:hover .thumb::before,
.examples-list .link:focus .thumb::before,
.examples-list .link:hover .text,
.examples-list .link:focus .text {
  transform: translateY(-100%);
}
